MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_USE_SANDBOX=true
MERCADO_PAGO_WEBHOOK_URL=
MERCADO_PAGO_WEBHOOK_SECRET=
PUBLIC_SITE_URL=https://front-principal.vercel.app
CORS_ORIGIN=https://front-principal.vercel.app,https://segundo-front.vercel.app,http://localhost:5173
FIREBASE_SERVICE_ACCOUNT_KEY=
