MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_USE_SANDBOX=true
MERCADO_PAGO_WEBHOOK_URL=
MERCADO_PAGO_WEBHOOK_SECRET=
PUBLIC_SITE_URL=https://seu-front.vercel.app
CORS_ORIGIN=https://seu-front.vercel.app
FIREBASE_SERVICE_ACCOUNT_KEY=
